:root {
  --beige: #e2d8c7;
  --purple: #9596ab;
  --blue: #425980;
  --brown: #a67d73;
  --yellow: #f2edbc;
  --font: "Paytone One", sans-serif;
  --cursive-font: "Mrs Saint Delafield", cursive;
  --background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/211/original/topic-statue-of-liberty-gettyimages-960610006-feature.jpg?1705010620);
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
}

h1 {
  line-height: 1;
  margin: 0;
  font-weight: normal;
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 60px;
  color: white;
  margin: 0;
}

h3 {
  font-size: 30px;
  color: white;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

.menu-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.menu-item {
  padding: 10px 20px;
  font-family: var(--header-font);
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.menu-item a:hover {
  color: var(--yellow);
}

/* slide sections */
.page-section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

#section1 h2 {
  font-family: var(--cursive-font);
  color: var(--yellow);
  font-size: 72px;
  margin-bottom: -30px;
}

.grid-facts {
  display: grid;
  gap: 20px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-facts-items {
  width: 200px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* height: 200px; */
  border-radius: 10px;
  background-color: var(--beige);
  padding: 20px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: var(--blue);
    color: white;
    transform: translateY(100%);
    align-items: flex-start;
  }

  .menu-list.active {
    display: flex;
    transform: translateY(0);
    align-items: center;
  }

  .menu-item {
    padding: 10px 20px;
    text-align: center;
  }

  .menu-item:hover {
    margin-bottom: 0;
  }

  .menu-item a {
    color: white;
  }
}
