:root {
  --beige: #e2d8c7;
  --purple: #9596ab;
  --blue: #425980;
  --brown: #a67d73;
  --yellow: #e29726;
  --font: "hatch", serif;
  --background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/211/original/topic-statue-of-liberty-gettyimages-960610006-feature.jpg?1705010620);
  --box-shadow: 10px 10px 20px rgba(0, 55, 142, 0.3);
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

h3 {
  font-size: 30px;
  color: white;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.menu-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.menu-item {
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.menu-item a:hover {
  color: var(--yellow);
}

/* slide sections */
.page-section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

#section1 {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/383/original/yellowstone-fatherandson.jpg?1705763462);
}

#section1 h2 {
  color: var(--yellow);
  font-size: 72px;
  margin-bottom: -30px;
}

#section2 {
  /* padding-top: 10px; */
  align-items: normal;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/380/original/yellowstone-kevinmountain.png?1705762784);
}

#section2 h2 {
  margin: 50px 0 40px;
  font-size: 72px;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-characters {
  margin: 20px 40px;
  grid-template-columns: repeat(6, 1fr);
}

.character {
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.character:hover {
  filter: brightness(108%) contrast(101%) grayscale(101%) saturate(101%);
}

.char-name,
.actor {
  display: block;
  text-align: center;
  margin: 0;
}
.char-name {
  color: white;
}
.actor {
  color: var(--yellow);
}

@media (max-width: 1024px) {
  .grid-characters {
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }

  .character {
    width: 200px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  #section2 h2 {
    margin: 30px 0 20px;
    font-size: 36px;
  }

  .grid {
    grid-gap: 10px;
  }
  /* 
  .grid-characters {
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  } */

  .character {
    width: 130px;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: var(--blue);
    color: white;
    transform: translateY(100%);
    align-items: flex-start;
  }

  .menu-list.active {
    display: flex;
    transform: translateY(0);
    align-items: center;
  }

  .menu-item {
    padding: 10px 20px;
    text-align: center;
  }

  .menu-item:hover {
    margin-bottom: 0;
  }

  .menu-item a {
    color: white;
  }
}

@media (max-width: 600px) {
  .grid-characters {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .character {
    width: 80px;
  }
}
